@charset "utf-8";
/**
 * Tendu Drupal 5.x Theme For Developers CSS
 * Updated: $Date: 2008/05/28 11:51:29 $
 * Author: Tom Bigelajzen - http://tombigel.com
 */

/* Incremental CSS overrides for IE (all versions)
 * Notes:
 * I added this file mainly to separate the "break-word" decleration
 * from the main CSS in order to keep it valid.
 * "break-word" causes IE to break long text with no white-spaces, 
 * otherwise, because of it's non-standard block sizing behavior it 
 * breakes the layout - especially when RTL is involved.
 * It's actually a very useful decleration.
 */
body{word-wrap: break-word;}
.in-edit .cprofile-entry-tags .terms-disabled{display:inline; filter:alpha(opacity = 33); zoom:1;}